.content-wrapper {
    display: grid;
    gap: 20px;
  }

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
    margin: 10px;
  }
  
  .image-wrapper {
    width: 100%;
  }
  
  .img-src {
    width: 100%;
    height: auto;
  }

  .creative-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  }
  
  .boundary {
    
    border-radius: 10px;
    padding: 20px;
    background-color: #42230D;
    box-shadow: 10 10 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  
  .intro-text {
    color: #FAB99A;
    font-size: 18px;
    text-align: center;
    margin: 0;
  }
  
/* Media queries */
@media (max-width: 768px) {
    .creative-div {
      min-height: 200px;
    }
  }
  
  @media (max-width: 480px) {
    .creative-div {
      min-height: 150px;
    }
  }